@layer utilities {
  ._font-36 {
    font-size: 36px;
    line-height: normal;
  }

  ._font-18 {
    font-size: 18px;
  }

  ._font-16 {
    font-size: 16px;
  }

  ._font-14 {
    font-size: 14px;
  }

  @media (max-width: 900px) {
    ._font-36 {
      font-size: 34px;
    }

    ._font-18 {
      font-size: 17px;
    }
  }
  @media (max-width: 600px) {
    ._font-36 {
      font-size: 32px;
    }

    ._font-18 {
      font-size: 16px;
    }

    ._font-16 {
      font-size: 14px;
    }
  }
  @media (max-width: 450px) {
    ._font-36 {
      font-size: 30px;
    }

    ._font-14 {
      font-size: 12px;
    }
  }
 
  @media (max-width: 350px) {
    ._font-36 {
      font-size: 24px;
    }

    ._font-18 {
      font-size: 15px;
    }

    ._font-16 {
      font-size: 13px;
    }
  }
}
