@import "./styles/font.css";
@import "./styles/margin.css";
@import "./styles/util.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans);
  width: 100%;
  /*  background-color: var(--branco); */
}

@layer base {
  :root {
    --preto: #191c19;
    --verde: #84c44c;
    --branco: #e2e8f0;
  }
}

@layer utilities {
  ._title {
    font-weight: 700;

    @apply text-center;
    @apply uppercase;
    @apply _margin-25b;
    @apply _font-36;
  }

  ._sub-title {
    font-weight: 300;
    @apply _font-14;
  }

  ._text {
    text-align: justify;

    @apply leading-8;
    @apply _font-18;
  }

  @media (max-width: 900px) {
    ._text {
      @apply leading-7;
    }
  }

  @media (max-width: 600px) {
    ._sub-title > svg {
      width: 24px;
    }
  }

  @media (max-width: 450px) {
    ._text {
      text-align: start;
    }
  }

  /*  @media (max-width: 350px) {
  } */
}

@layer utilities {
  ._underline-effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    margin-bottom: -3px;
    width: 0;
    background-color: var(--verde); /* Usa a cor atual do texto */
    transition: width 0.3s ease;
  }
  ._underline-effect:hover::after {
    width: 100%; /* Expande o traço até a largura total do link */
  }

  /*bag pra imagens do next*/
  ._bag-image {
    width: 100%;
  }
  ._bag-image > img {
    position: relative !important;
  }

  ._overlay-full {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #061500;
    opacity: 0.75;
    z-index: 0;
  }

  ._p-section {
    padding: 85px 0;
  }

  /*arrow down efeito*/
}
