@import './styles/font.css';
@import './styles/margin.css';
@import './styles/util.css';
@import './styles/animation.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans);
  /*  background-color: var(--branco); */
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --preto: #191c19;
    --preto-fraco: #292c29;
    --verde: #84c44c;
    --verde-forte: #8cd948;
    --branco: #e2e8f0;
  }
}

@layer utilities {
  ._banner-title {
    font-weight: 700;

    @apply leading-normal;
    @apply text-center;
    @apply uppercase;

    @apply _font-68;
    @apply _margin-25b;
  }

  ._title {
    font-weight: 700;

    @apply text-center;
    @apply uppercase;

    @apply _margin-25b;
    @apply _font-36;
  }

  ._sub-title {
    font-weight: 300;

    @apply _font-14;
  }

  ._shadow-text {
    text-shadow: #000 2px 2px;
  }

  ._text {
    text-align: justify;

    @apply leading-8;

    @apply _font-18;
  }

  ._p-section {
    padding: 100px 0;
  }

  @media (max-width: 1050px) {
    ._p-section {
      padding: 90px 0;
    }
  }

  @media (max-width: 900px) {
    ._text {
      @apply leading-7;
    }

    ._p-section {
      padding: 85px 0;
    }
  }

  @media (max-width: 600px) {
    ._sub-title > svg {
      width: 24px;
    }

    ._p-section {
      padding: 65px 0;
    }
  }

  @media (max-width: 450px) {
    ._text {
      text-align: start;
    }

    /* ._p-section {
      padding: 60px 0;
    } */
  }

  @media (max-width: 380px) {
    ._p-section {
      padding: 60px 0;
    }
  }

  /*  @media (max-width: 350px) {
  } */
}

@layer utilities {
  ._underline-effect::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    margin-bottom: -3px;
    width: 0;
    background-color: var(--verde);
    transition: width 0.3s ease;
  }
  ._underline-effect:hover::after {
    width: 100%;
  }

  /*bag pra imagens do next*/
  ._bag-image {
    width: 100%;
  }
  ._bag-image > img {
    position: relative !important;
  }

  ._overlay-full {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #061500;
    opacity: 0.78;
    z-index: 0;
  }

  ::-webkit-scrollbar {
    position: absolute;
    background-color: transparent;
    width: 14px;
  }

  /* background of the scrollbar except button or resizer */
  ::-webkit-scrollbar-track {
    background-color: var(--preto);
    cursor: pointer;
  }

  /* scrollbar itself */
  ::-webkit-scrollbar-thumb {
    background-color: var(--verde);
    border-radius: 8px;
    border: 3px solid var(--preto);
    cursor: pointer;
  }
  ::-webkit-scrollbar-thumb:hover {
    border: 2px solid #f4f4f4;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
}
